.news-title {
  font-size: .90rem;
  font-weight: 500;
}

p.news-date-time {
  font-size: .6em;
  line-height: 1em;
  margin-bottom: 0;
  font-style: italic;
  padding-top: 5px;
}

span.small, p.small {
  font-size: .75em;
  line-height: 1em;
  margin-bottom: 0;
}