/* bootstrap functions */
@use "../node_modules/bootstrap/scss/functions";

/* bootstrap variable overrides */
  //color theme overrides
$primary: #5784bb;
$secondary: #adb5bd;
$success: #90cdc3;
$info: #9ac8ea;
$warning: #f5ef9b;
$danger: #c44b6c;

  //typeography overrides
@use url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$font-family-base: "Poppins";

//bootstrap required stylesheets
@use "../node_modules/bootstrap/scss/variables";

//boostrap map overrides

//bootstrap required parts
@use "../node_modules/bootstrap/scss/maps";
@use "../node_modules/bootstrap/scss/mixins";
@use "../node_modules/bootstrap/scss/root";

//bootstrap optional parts
@use "../node_modules/bootstrap/scss/utilities";
@use "../node_modules/bootstrap/scss/reboot";
@use "../node_modules/bootstrap/scss/type";
@use "../node_modules/bootstrap/scss/images";
@use "../node_modules/bootstrap/scss/containers";
@use "../node_modules/bootstrap/scss/grid";
@use "../node_modules/bootstrap/scss/forms";
@use "../node_modules/bootstrap/scss/buttons";
@use "../node_modules/bootstrap/scss/transitions";
@use "../node_modules/bootstrap/scss/dropdown";
@use "../node_modules/bootstrap/scss/button-group";
@use "../node_modules/bootstrap/scss/card";
@use "../node_modules/bootstrap/scss/accordion";
@use "../node_modules/bootstrap/scss/badge";
@use "../node_modules/bootstrap/scss/list-group";
@use "../node_modules/bootstrap/scss/close";
@use "../node_modules/bootstrap/scss/modal";
@use "../node_modules/bootstrap/scss/tooltip";
@use "../node_modules/bootstrap/scss/spinners";
@use "../node_modules/bootstrap/scss/offcanvas";
@use "../node_modules/bootstrap/scss/placeholders";
@use "../node_modules/bootstrap/scss/helpers";

//bootstrap utility add,remove,modify

//bootstrap utility api
@use "../node_modules/bootstrap/scss/utilities/api";

//any additional customization using bootstrap